@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-white dark:bg-gray-900;
  }

  body {
    @apply font-sans antialiased bg-white dark:bg-gray-900;
    font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  }

  #root {
    @apply w-full min-h-screen bg-white dark:bg-gray-900;
  }
}

